<div class="background">
    <div class="hero">
        <div class="heroText">
            <h2>Hello I'm Mateo</h2>
            <h2>Software Developer</h2>
            <h2>Based in Argentina</h2>
            <br>
            <div class="contactBtns">
                <div class="spanContainer">
                    <a class="btn btn-light up" href="https://www.linkedin.com/in/mateo-francesco-mantovano-34a925227/" target="_blank">LinkedIn</a>
                </div>
                <div class="spanContainer">
                    <a class="btn btn-light up" href="https://github.com/mantovanoMateo" target="_blank">Github</a>
                </div>
                <div class="spanContainer">
                    <a class="btn btn-light contact" href="">Let's work together</a>
                </div>
            </div>
        </div>
        <img class="profilePhoto" src="../assets/Imagen de WhatsApp 2024-05-20 a las 19.03.png" alt="me">
    </div>
    <div class="languages1">
        <img class="tech" src="../assets/java_.png" alt="java_logo">
        <img class="tech" src="../assets/🦆 icon _file type js official_.png" alt="javascript_logo">
        <img class="tech" src="../assets/typescript.png" alt="typescript_logo">
        <img class="tech" src="../assets/html_.png" alt="html_logo">
        <img class="tech" src="../assets/🦆 icon _file type css_.png" alt="css_logo">
        <img class="tech" src="../assets/node_.png" alt="node_logo">
        <img class="tech" src="../assets/mysql_.png" alt="my_sql_logo">
        <img class="tech" src="../assets/python_.png" alt="python_logo">
        <img class="tech" src="../assets/🦆 icon _file type angular_.png" alt="angular">
        <img class="tech" src="../assets/reactjs_.png" alt="reactjs">
        <img class="tech" src="../assets/spring logo 1.png" alt="springboot">
        <img class="tech" src="../assets/NestJS 1.png" alt="nestjs">
    </div>
    <br>
    <div class="descriptionContainer">
        <h4>I am a passionate Full Stack developer dedicated to the art of software development. I hold a Technical
            University degree in Programming from the National Technological University, based in Mar del Plata,
            Argentina</h4>
        <h4>I have been working in software development for over two years, gaining experience in building microservices
            using Java SpringBoot while focusing on innovative personal projects</h4>
        <h4>My experience spans across multiple technologies, including C, Java, Spring Boot, Angular, React,
            JavaScript, TypeScript, Node.js, and Nest.js. I have executed personal and professional projects that have
            honed my skills in crafting understandable, efficient, and effective code</h4>
        <h4>Continuously seeking learning and improvement, I believe that software development is an art that requires
            ongoing education</h4>
        <h4> Connect with me to explore opportunities for collaboration and growth in the realm of software development!
        </h4>
    </div>
    <br>
    <br>
</div>