*{
    background-color: rgb(24, 23, 23);
    color: white;
}

h2{
    font-size: 130px;
    background-color: rgba(240, 248, 255, 0);
}

h3{
    margin-left: 100px;
    font-size: 80px;
}

h4{
    margin-left: 100px;
    font-size: 60px;
}

.header{
    display: block;
    align-items:first baseline;
    padding: 100px;
    justify-content: space-between;
    background-image: url(src\app\components\about-me\bg.png);
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.group{
    margin: auto;
    max-width: 1000px;

    background-color: rgba(240, 248, 255, 0);
}

.frameworks{
    max-width: 700px;
}

.subgroup{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    background-color: rgba(240, 248, 255, 0);
}

.groupItem{
    min-width: 220px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    gap: 5px;
}

p{
    margin: 10px;
    font-size: 20px;
    background-color: #222222;
}

p:hover{
    cursor: default;
}

.techImg{
    width: 30px;
    background-color: #222222;
}

.proyectImg{
    background-color: rgba(245, 245, 220, 0);
}

.proyectData{
    background-color: #222222;
}

.proyectTechnologies{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #121212;
    
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 7px;

    border-radius: 10px;
    font-size: 13px;
}

.proyectDesc{
    background-color: #222222;
    margin: 0px;
    font-size: 15px;
}

.tech{
    background-color: #121212;
    font-weight: 600;
}

.tech:hover{
    cursor:default;
}

.resourcesBtns{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #222222;
}

.contactBtns{
    background-color: #222222;
}

.btn-light{
    background-color: white;
    color: black;
    font-weight: 600;
    width: 150px;
    transition: all 0.6s ease-out;
}

.btn-light:hover{
    background-color: #121212;
    color: #f2f2f2;
    font-weight: 600;
}

.proyect{
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    background-color: #222222;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CertificationTitle{
    background-color: #222222;
    font-size: 35px;
}

.CertificationSubTitle{
    background-color: #222222;
    font-size: 25px;
}

.institution{
    background-color: #222222;
    max-width: 150px;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    h2{
        font-size: 55px;
        margin: auto;
        text-align: center;
    }

    h4{
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    h3{
        margin: auto;
        text-align: center;
        font-size: 50px;
    }

    h5{
        text-align: center;
        margin: auto;
    }   

    h6{
        text-align: center;
        margin: auto;
    }

    .proyectDesc{
        text-align: center;
    }

    .institution{
        margin: auto;
    }


    .header{
        padding-top: 200px;
        padding-left: 0;
        padding-right: 0;

    }

    .proyect{
        margin: 30px;
        gap: 30px;
        flex-wrap: wrap;
    }

    .subgroup{
        gap: 25px;
        padding: 30px;
    }

    .CertificationTitle{
        margin-bottom: 20px;
    }

    .CertificationSubTitle{
        margin-bottom: 20px;
    }
}