<div class="background">
<div class="header">
    <h2>Certifications</h2>
    <h2>& Skills</h2>
    <!-- <br>
    <div class="typenav">
        <p class="proyectType">All</p>
        <p class="proyectType">FullStack</p>
        <p class="proyectType">BackEnd</p>
        <p class="proyectType">FrontEnd</p>
    </div> -->
</div>

<h3>Skills</h3>
<br>
<br>
<h4>Tech Stack</h4>
<br>
<br>
<div class="group">
    <div class="subgroup">
        <div class="groupItem">
            <p>Java</p>
            <img class="techImg" src="../assets/java_.png" alt="java_logo">
        </div>
        <div class="groupItem">
            <p>JavaScript</p>
            <img class="techImg" src="../assets/🦆 icon _file type js official_.png" alt="javascript_logo">
        </div>
        <div class="groupItem">
            <p>TypeScript</p>
            <img class="techImg" src="../assets/typescript.png" alt="typescript_logo">
        </div>
        <div class="groupItem">
            <p>NodeJs</p>
            <img class="techImg" src="../assets/node_.png" alt="node_logo">
        </div>
    </div>
    <br>
    <div class="subgroup">
        <div class="groupItem">
            <p>Python</p>
            <img class="techImg" src="../assets/python_.png" alt="python_logo">
        </div>
        <div class="groupItem"> 
            <p>MySql</p>
            <img class="techImg" src="../assets/mysql_.png" alt="my_sql_logo">
        </div>
        <div class="groupItem">
            <p>HTML</p>
            <img class="techImg" src="../assets/html_.png" alt="html_logo">
        </div>
        <div class="groupItem">
            <p>CSS</p>
            <img class="techImg" src="../assets/🦆 icon _file type css_.png" alt="css_logo">
        </div>
    </div>
</div>
<br>
<br>
<div class="group frameworks">
    <div class="subgroup">
        <div class="groupItem">
            <p>Angular</p>
            <img class="techImg" src="../assets/🦆 icon _file type angular_.png" alt="angular">
        </div>
        <div class="groupItem">
            <p>React</p>
            <img class="techImg" src="../assets/reactjs_.png" alt="reactjs">
        </div>
        <div class="groupItem">
            <p>Django</p>
            <img class="techImg" src="../assets/django-icon-1606x2048-lwmw1z73 1.png" alt="django">
        </div>
    </div>
    <br>
    <div class="subgroup">
        <div class="groupItem">
            <p>Spring</p>
            <img class="techImg" src="../assets/spring logo 1.png" alt="springboot">
        </div>
        <div class="groupItem">
            <p>NestJs</p>
            <img class="techImg" src="../assets/NestJS 1.png" alt="nestjs">
        </div>
    </div>
</div>

<br>
<br>
<h4>Technical Skills</h4>
<br>
<br>
<div class="group">
    <div class="subgroup">
        <div class="groupItem">
            <p>Git</p>
            <img class="techImg" src="../assets/git 1.png" alt="git_logo">
        </div>
        <div class="groupItem">
            <p>Jira</p>
            <img class="techImg" src="../assets/jira 1.png" alt="jria_logo">
        </div>
        <div class="groupItem">
            <p>Figma</p>
            <img class="techImg" src="../assets/figma 1.png" alt="figma_logo">
        </div>
        <div class="groupItem">
            <p>Trello</p>
            <img class="techImg" src="../assets/trello 1.png" alt="trello_logo">
        </div>
    </div>
    <br>
    <div class="subgroup">
        <div class="groupItem">
            <p>Scrum</p>
        </div>
        <div class="groupItem"> 
            <p>Kanban</p>
        </div>
        <div class="groupItem">
            <p>Agile</p>
        </div>
        <div class="groupItem">
            <p>Class Modeling</p>
        </div>
    </div>
    <br>
    <div class="subgroup">
        <div class="groupItem">
            <p>Functional Analysis</p>
        </div>
        <div class="groupItem"> 
            <p>Requirements Analysis</p>
        </div>
        <div class="groupItem">
            <p>Database Modeling</p>
        </div>
        <div class="groupItem">
            <p>UX/UI Design</p>
        </div>
    </div>
</div>


<br>
<br>
<h4>Degrees & Certifications</h4>
<br>
<br>

<div>
    <br>
    <div class="proyect">
        <div class="proyectData">
            <h5 class="CertificationTitle">Universidad Tecnologica Nacional UTN FRMDP</h5>
            <h6 class="CertificationSubTitle">University technician in programming</h6>
            <p class="proyectDesc">March 2022 - February 2024</p>
            <p class="proyectDesc">Mar del Plata, Buenos Aires, Argentina</p>
        </div>
        <img class="institution" src="../assets/utnlogo.png" alt="alkemy_logo">
    </div>
    <br>
    <br>
    <br>
    <div class="proyect">
        <div class="proyectData">
            <h5 class="CertificationTitle">Alkemy</h5>
            <h6 class="CertificationSubTitle">IT Bootcamp Python + Django</h6>
            <p class="proyectDesc">March 2024 - May 2024</p>
            <p class="proyectDesc">Online Intership</p>
        </div>
        <img class="institution" src="../assets/alkemy logo.png" alt="alkemy_logo">
    </div>
    <br>
    <br>
    <br>
</div>

<br>
<br>
<br>
</div>