<nav class="navbar" data-bs-theme="dark">
  <div class="headerDiv">
    <h2 class="name">Mateo Mantovano</h2>
    <h3 class="roleTitle">Software Developer</h3>
  </div>
  <ul class="nav justify-content-center" data-bs-theme="dark">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" [routerLink]="['/aboutMe']" routerLink="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/experience']" routerLink="active">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/proyects']" routerLink="active">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/techStack']" routerLink="active">Certifications & Skills</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
