<div class="background">
  <h1>Mis Proyectos Personales</h1>
  <br>

  <h2>App web de apuestas deportivas Argenbet</h2>
  <br>
  <div class="carouselContainer">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://pbs.twimg.com/media/GB_LA92WEAAPare?format=jpg&name=large" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GB_P2y9WsAAbp5a?format=jpg&name=large" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GB_P9P5WYAIib0L?format=png&name=large" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GB_P9S8W4AAb1GG?format=jpg&name=large" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GB_P9RRXYAABxEE?format=jpg&name=large" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <p>Aplicación desarrollada en Angular utilizando TypeScript, HTML y CSS</p>
  <p>La misma implementa una API Rest desarrollada en Java SpringBoot la cual gestiona la obtención</p>
  <p>y persistencia de datos en una Base de datos creada en MySQL.</p>
  <p>Consumo de Api Externa API-FOOTBALL para la obtencion de datos para el funcionamiento de la app</p>
  <div class="spanContainer">
    <a class="btn btn-light" href="https://github.com/mantovanoMateo/ArgenBet">Repositorio de la App</a>
  </div>
  <br>
  <br>
  <h2>API de persistencia de datos</h2>
  <p>Desarrollada en Java SpringBoot</p>
  <p>Implementa dependencias SpringWeb, Spring JPA y Lombok</p>
  <p>La misma fue implementada en el proyecto de apuestas deportivas en linea para la persistencia de datos de
    usuarios, apuestas y transacciones</p>
  <div class="spanContainer">
    <a class="btn btn-light" href="https://github.com/mantovanoMateo/ApiArgenBetPersistance">Repositorio de la API</a>
  </div>
  <br>
  <br>
  <h2>Aplicación de escritorio de compra de juegos JTeam</h2>
  <br>
  <div class="carouselContainer">
    <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://pbs.twimg.com/media/GCH5WFPWQAAd8UK?format=png&name=900x900" class="d-block w-100"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GCH5WFPXAAALpF_?format=jpg&name=medium" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GCH5WFMXgAA3hfC?format=jpg&name=medium" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GCH5WFOWcAAnSXA?format=png&name=900x900" class="d-block w-100"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://pbs.twimg.com/media/GCH5Ye5WAAAWFCL?format=jpg&name=medium" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <p>Desarrollada en Java con la utilización de la biblioteca grafica Swing</p>
  <p>Implementa conceptos de programación orientada a objetos</p>
  <p>Persistencia de datos utilizando archivos JSON</p>
  <div class="spanContainer">
    <a class="btn btn-light" href="https://github.com/mantovanoMateo/JTeam-Game-Store">Repositorio de la App</a>
  </div>
</div>