<div>
    <div class="header">
        <h2>My Projects</h2>
        <br>
        <div class="typenav">
            <p class="proyectType" (click)="getAll()">All</p>
            <p class="proyectType" (click)="getByType('fullstack')">FullStack</p>
            <p class="proyectType" (click)="getByType('backend')">BackEnd</p>
            <p class="proyectType" (click)="getByType('frontend')">FrontEnd</p>
        </div>
    </div>
    <div>
        <div *ngFor="let proyect of proyects" class="proyect">
            <div class="proyectData">
                <h3>{{proyect.title}}</h3>
                <p class="proyectDesc">{{ proyect.description }}</p>
                <div class="contactBtns">
                    <!-- <div class="proyectTechnologies">
                        <p *ngFor="let st of proyect.stack" class="tech">{{st}}</p>
                    </div> -->
                    <div class="techChips">
                        <p *ngFor="let st of proyect.stack" class="chip">{{st}}</p>
                    </div>
                    <div class="resourcesBtns">
                        <div *ngIf="proyect.type == 'frontend' || proyect.type == 'fullstack'" class="spanContainer">
                            <a class="btn btn-light" href={{proyect.frontEndRepo}} target="_blank">FrontEnd</a>
                        </div>
                        <div *ngIf="proyect.type == 'backend' || proyect.type == 'fullstack'" class="spanContainer">
                            <a class="btn btn-light" href={{proyect.backendRepo}} target="_blank">BackEnd</a>
                        </div>
                        <div *ngIf="proyect.preview != ''" class="spanContainer">
                            <a class="btn btn-light" href={{proyect.preview}} target="_blank">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src={{proyect.img}} alt="" class="proyectImg">
        </div>
        <br>
        <br>
        <br>
    </div>
</div>