*{
    background-color: rgb(24, 23, 23);
    color: white;
}

.header{
    display: block;
    align-items:first baseline;
    padding: 100px;
    justify-content: space-between;
    background-image: url(src\app\components\about-me\bg.png);
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2{
    font-size: 130px;
    background-color: rgba(240, 248, 255, 0);
}

h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    background-color: #222222;
}

p{
    margin: auto;
    font-weight: 400;
}



.proyectType{
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}

.proyectType:hover{
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}

.typenav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background-color: rgb(24, 23, 23);
    max-width: fit-content;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
}

.proyect{
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: #222222;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

b{
    background-color: #12121200;
}

.proyectImg{
    background-color: rgba(245, 245, 220, 0);
}

.proyectData{
    max-width: 500px;
    background-color: #222222;
}

.resourcesBtns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    background-color: #222222;
}

.proyectTechnologies{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #121212;
    
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 7px;

    border-radius: 10px;
    font-size: 13px;
}

.proyectDesc{
    background-color: #222222;
}

.contactBtns{
    background-color: #222222;
}

.tech{
    background-color: #121212;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.tech:hover{
    cursor:default;
}

.btn-light{
    background-color: white;
    color: black;
    font-weight: 600;
    width: 150px;
    transition: all 0.6s ease-out;
}

.btn-light:hover{
    background-color: #121212;
    color: #f2f2f2;
    font-weight: 600;
}

@media (max-width: 1000px){
    .header{
        padding-top: 200px;
        padding-left: 0;
        padding-right: 0;

    }

    h2{
        font-size: 60px;
        margin: auto;
        text-align: center;
    }

    h3{
        font-size: 35px;
        text-align: center;
    }

    .typenav{
        margin: auto;
    }

    .proyect{
        margin: 30px;
        gap: 30px;
    }

    .proyectDesc{
        text-align: center;
    }

    .proyectImg{
        width: 260px;
    }

    .resourcesBtns{
        justify-content: center;
    }

    .tech{
        font-size: 10px;
    }
}
