*{
    background-color: rgb(26, 26, 26);
    color: white;
}

.background{
    margin-top: 80px;
    padding: 30px;
    height: max-content;
    min-width: 300px;
}

h1{
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
}

p{
    text-align: center;
}

a{
    text-align: center;
}

.carousel{
    width: 1000px;
}

.d-block{
    border-radius: 30px;
}
.carouselContainer{
    display: flex;
    justify-content: center;
}

.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.181);
}

.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.181);
}

.carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0);
}

.carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0);
}

.spanContainer{
    display: flex;
    justify-content: center;
}
