<div class="background">
    <div class="header">
        <h2>Experience</h2>
    </div>

    <div>
        <br>
        <div class="proyect">
            <div class="proyectData">
                <div class="experienceHeader">
                    <div class="experienceTitle">
                        <h3 class="CertificationTitle">Backend Developer & Funcitonal Analist</h3>
                        <h4 class="CertificationSubTitle">Bytewave</h4>
                    </div>
                    <img class="institution" src="../assets/bytewave logo.png" alt="bytewave_logo">
                </div>

                <h5>March 2024 - Actual</h5>
                <p class="proyectDesc">Mar del Plata, Buenos Aires, Argentina</p>
                <p class="proyectDesc">Currently, I work as a Backend Software Developer and Functional Analyst, where I
                    apply my skills and knowledge in advanced technologies and methodologies to create robust and
                    efficient solutions. My responsibilities include:</p>
                <p class="proyectDesc">Backend development specialized in NestJS and NodeJS, as well as Java Spring Boot
                    to build scalable
                    and high-performance applications. Development of Rest API using the HTTP protocol and responses
                    through JSON, generation of sensitive encrypted data for greater security of user data and security
                    of APIs through Jwt and Oauth. As well as the implementation of Swagger and Postman for their
                    documentation.</p>

                <p class="proyectDesc">Experience implementing and managing cloud services using Amazon Web Services
                    (AWS),
                    including EC2 (compute instances), S3 (storage), and SES (email service).</p>

                <p class="proyectDesc">Use of Docker for the creation and management of containers, facilitating the
                    deployment and
                    scalability of applications.</p>

                <p class="proyectDesc">Implementation of solutions following the Model-View-Controller pattern to
                    guarantee structured and
                    maintainable development.</p>

                <p class="proyectDesc">Design and modeling of classes and databases, using MySQL and MongoDB for
                    efficient data management
                    and storage.</p>

                <p class="proyectDesc">Use of agile methodologies such as Scrum and tools such as Jira for project
                    management, ensuring
                    fast and high quality deliveries.</p>

                <p class="proyectDesc">Work closely with clients and stakeholders to gather and specify requirements,
                    ensuring that the
                    solutions developed meet their needs.</p>
            </div>
        </div>
        <br>
        <br>
        <div class="proyect">
            <div class="proyectData">
                <div class="experienceHeader">
                    <div class="experienceTitle">
                        <h3 class="CertificationTitle">Trainee Python & Django Developer</h3>
                        <h4 class="CertificationSubTitle">Alkemy</h4>
                    </div>
                    <img class="institution" src="../assets/alkemy logo.png" alt="alkemy_logo">
                </div>
                <h5>March 2024 - May 2024</h5>
                <p class="proyectDesc">I started my career as a Python + Django developer at the Alkemy bootcamp, where
                    I gained valuable experience in software development using Python and applying best practices</p>
                <p class="proyectDesc">This opportunity allowed me to learn from experienced professionals in the field
                    and build a solid foundation in software development principles</p>
                <p class="proyectDesc">One of the most significant milestones during this experience was the completion
                    of the final project, where I was responsible for designing and developing a fullstack application
                    for managing product stock and their respective suppliers</p>
                <p class="proyectDesc">I used Python, Django Rest Framework, and SQLite for data persistence, enabling
                    communication between components using JSON over the HTTP protocol</p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>